# rep.markets

DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/repmarkets"

NEXTAUTH_URL="https://YOUR-SERVICE.onrender.com"
NEXTAUTH_SECRET="generate-a-long-random-string"

ADMIN_EMAIL="admin@rep.markets"
ADMIN_PASSWORD="change-me-to-a-strong-password"

# Optional later
# NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
