# rep.markets
DATABASE_URL="file:./dev.db"

NEXTAUTH_URL="http://localhost:3002"
NEXTAUTH_SECRET="change-me-in-production"

ADMIN_EMAIL="admin@rep.markets"
ADMIN_PASSWORD="change-me"

# NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
