# Ensure Linux native bindings are fetched when locking on Windows
supportedArchitectures.os[]=current
supportedArchitectures.os[]=linux
supportedArchitectures.cpu[]=x64
supportedArchitectures.cpu[]=arm64
supportedArchitectures.libc[]=glibc
supportedArchitectures.libc[]=musl
shamefully-hoist=true
